body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #EFEFF5 0%, #EFEFF5 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;

}